<!DOCTYPE html>
<html leng='pt-br'>
	<head>
		<title>Uploaded de Arquivos</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container mt-3">
			<p class="alert alert-info text-center">
				Fazendo uploaded de Arquivos usando NodeJS com a biblioteca <em>multer</em>
			</p>
			<form action="#" method="post" enctype="multipart/form-data">
				<div class="custom-file mb-3 col-sm-5">
					<input type="file" name="arquivo" class="custom-file-input">	
					<label class="custom-file-label">Files</label>	
				</div><br>
				<input type="submit" name="" value="Enviar" class="btn btn-primary"> 
			</form>
		</div>
	</body>
</html>